/vendor/
/node_modules/
.env
.env.*
/storage/*.key
/storage/app/public
/public/storage
/.idea/
/*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
composer.lock
/public/hot
/public/mix-manifest.json
.phpunit.result.cache
/.vscode/
.env.backup
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
